1
1
44100
/usr/share/ti/rpe/davinci.aac
/usr/share/ti/rpe/davinci.pcm

######################################################################
# Input Parameter Configuration
######################################################################
Playback mode             # 0 -> write to file, 1 -> ALSA playback
Number of channels        # 1 -> mono, 2 -> stereo
Sample Rate               
Input file name
Output file name
